{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .conteudo-com-scroll {
        overflow-y: auto; /* ou 'scroll' para mostrar sempre a barra de rolagem */
        max-height: 80vh; /* ou a altura desejada */
    }
</style>
    <div class="flex justify-center items-center">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <div class="flex gap-8">  
            <div class="bg-white p-8 rounded shadow-sm" >
                <div style="display: flex; align-items: center; justify-content: center; padding-bottom: 4vh;">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class=' h-8 w-8 mr-4'>
                    <div class="flex flex-col">
                        <h1 class="text-black" style="font-weight: 700;  font-size: 3vh; margin: 0; ">Abertura de Chamados</h1>
                        <h1 class="text-black text-center" style="font-weight: 700;  font-size: 2vh; margin: 0; ">Detalhes do Chamado</h1>
                    </div>
                </div>
                    <div class="flex  gap-4 mt-8 " style="position: relative;">   
                        <div class=" w-full p-8 bg-white border border-black rounded-lg shadow">
                            <div class="flex justify-center  flex-col mb-8 border-b border-gray-100">
                                <h5 class="text-black text-center mb-2" style="font-size: 3vh; font-weight: 500;">
                                    <i class="fa-solid fa-clock mb-2 fa-1x text-black hover:text-teal-500"></i> <span class="font-bold">Status:</span> {{ chamados.situacao }}
                                </h5>
                                <h1 class="text-gray-700 mb-2" style="font-size: 15px; font-weight: 500;">
                                    <span class="font-bold">Criado em:</span> {{ chamados.data_criacao }}
                                </h1>
                                <h1 class="text-gray-700 mb-2" style="font-size: 15px; font-weight: 500;">
                                    <span class="font-bold">Pelo Usuário:</span> {{ chamados.criado_por.username }}
                                </h1>
                            </div>
                            
                                <div class="flex flex-col gap-4">
                                    <h5 class=" text-2xl font-bold tracking-tight text-black dark:text-white">Tipo de Chamado:</h5>
                                    <h1 class="text-gray-700" style="font-size: 15px; font-weight: 500;">{{chamados.assunto}}</h1>
                                    <h5 class=" text-2xl font-bold tracking-tight text-black dark:text-white">Problema:</h5>
                                    <h1 class="text-gray-700" style="font-size: 15px; font-weight: 500;">{{chamados.texto}}</h1>
                                    <a href="javascript:void(0);" onclick="window.history.back();"
                                    class="flex justify-center items-center no-underline active:text-white w-24 h-10 border rounded text-black cursor-pointer border-black hover:text-white hover:bg-black text-center"
                                    style="text-decoration-line: none; display: inline-flex; align-items: center; justify-content: center;">
                                        <span class="inline-block align-middle">Voltar</span>
                                    </a>                         
                            </div>
                        </div>
                </div>   
            </div>
            <div class="conteudo-com-scroll">  
            <div class="bg-white p-7 rounded shadow-sm" style="position: relative;">
                <div  style="display: flex; align-items: center; justify-content: center; padding-bottom: 5vh;">
                    <div class="flex flex-col">
                        <h1 class="text-black text-center" style="font-weight: 700;  font-size: 4vh; margin: 0; ">TimeLine</h1>
                    </div>
                </div>
                <div className='bg-white rounded-xl shadow-md w-96 ml-20' >
                    {% for timeline in timeline %}
                    <ol class=" relative border-s border-gray-200">                  
                        <li class=" ms-6">            
                            <span class="absolute flex items-center justify-center w-8 h-8 bg-black rounded-full -start-4 ring-2 ring-black" style='position: relative; margin-left: 2vh'>
                                {% if timeline.codigo == 0 %}
                                    <i class="fa-solid fa-folder-open fa-sm text-white"></i>
                                {% elif timeline.codigo == 1 %}
                                    <i class="fa-solid fa-user-plus fa-sm text-white"></i>
                                {% elif timeline.codigo == 2 %}
                                    <i class="fa-solid fa-user-times fa-sm text-white"></i>
                                {% elif timeline.codigo == 3 %}
                                    <i class="fa-solid fa-hourglass-half fa-sm text-white"></i>
                                {% elif timeline.codigo == 4 %}
                                    <i class="fa-solid fa-check-circle fa-sm text-white"></i>
                                {% elif timeline.codigo == 5 %}
                                    <i class="fa-solid fa-arrow-alt-circle-up fa-sm text-white"></i>
                                {% elif timeline.codigo == 6 %}
                                    <i class="fa-solid fa-flag-checkered fa-sm text-white"></i>
                                {% endif %}
                            </span>
                                <h3 class="flex items-center mb-1 text-[3vh] font-semibold text-black ">{{ timeline.situacao }}</h3>
                                <div class="flex flex-col justify-center mt-2 gap-2">
                                    <div class="flex items-center  gap-2">
                                        <i class="fa-solid fa-clock mb-8 fa-sm text-black" ></i>
                                        <time class="block mb-8 text-[2vh] font-normal leading-none text-gray-700">Em: {{ timeline.data_criacao }}</time>
                                    </div>               
                                    {% if timeline.arquivos.all %}
                                    <div class="flex items-center" style='position: relative; margin-top: -4vh'>
                                    <form class="cadastro-form" method='POST'> {% csrf_token %}
                                        <input type="hidden" name="arquivos_anexados" value="{{ chamados.id  }}">
                                        <i class="fa-solid fa-magnifying-glass mb-8 fa-sm text-black" ></i>
                                        <button><time class="block mb-8 text-[2vh] font-normal leading-none hover:text-black text-green-700" >Ver Arquivos Anexados</time> </button>
                                    </form>
                                    </div>
                                    {% endif %}                     
                                    {% if timeline.resposta %}
                                    <div class="flex items-center" style='position: relative; margin-top: -4.6vh'>
                                    <form class="cadastro-form" method='POST'> {% csrf_token %}
                                        <input type="hidden" name="timeline_id" value="{{ timeline.id }}">
                                        <i class="fa-solid fa-magnifying-glass mb-8 fa-sm text-black" ></i>
                                        <button><time class="block mb-8 text-[2vh] font-normal leading-none  hover:text-black text-red-700" >Ver Resolução</time> </button>
                                    </form>
                                    </div>
                                    {% endif %}
                                </div>
                        </li>
                    </ol>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}