{% extends "extends_tailwind.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="600">
    <title>Editar Usuário</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />

    <link href="{% static 'css/compiled.css' %}" rel="stylesheet">
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <div class="container-fluid h-100 vh-100">
        <div class="row h-100">
          <div class="col-md-6 d-flex" style="background-color: black;">>
            <div style="display: flex; flex-direction: column; margin-left: 5vh;">
                <div class="d-flex items-center" style="margin-top: 10vh;  height: 1vh;">
                    <h1 style="font-weight: 400; font-size:24px; color: white ; margin: 0;">Abertura de Chamados</h1>
                </div>
                <div style="margin-top: 30vh;">
                    <h1 class="text-white" style="font-size: 3vh;">Editando o úsuario:</i>   {{usuario}} </h1>     
                </div>
            </div>
          </div>
          <div class="col-md-6  flex flex-col align-items-center justify-content-center" style="background-color: #F8FAFC;">
            <form method="POST" action="{% url 'editar_usuario' usuario.pk %}" class="bg-white p-8 rounded shadow-sm border""> {% csrf_token %}
                <div class="bg-white p-8 rounded shadow-sm">
                    <div style="display: flex; align-items: center; justify-content: center; padding-bottom: 4vh;">
                        <h1 class="text-black" style="font-weight: 700;  font-size: 3vh; margin: 0; ">Editando</h1>
                    </div>
                    <div class="flex gap-4 mb-4">
                      <div class="form-group flex-grow" style="display: none">
                        <label for="empresa" class="text-teal-700" style="margin-bottom: 12px; font-weight: 400; font-size: 15px;" >Unidade:</label>
                        <select required  id="empresa"  name="empresa" class="bg-white border border-teal-400 text-gray-600 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 focus:outline-none block w-full p-2.5 ">
                          <option selected>=João Pessoa</option>
                        </select>
                      </div>
                      <div class="form-group flex-grow">
                        <label for="setor" class="text-black" style="margin-bottom: 1.2vh; font-weight: 700; font-size: 2vh;" >Setor: </label>
                        <select required  id="setor" name="setor"class="bg-white border border-teal-400 text-black text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 focus:outline-none block w-full p-2.5 ">
                          <option value="" disabled selected>Escolha o Setor</option>
                            <option  value="Tecnologia da Informação"><i class="fa-solid fa-user fa-sm text-white"></i>Tecnologia da Informação</option>
                            <option  value="Recursos Humanos"><i class="fa-solid fa-user fa-sm text-white"></i>Recursos Humanos</option>
                            <option  value="Enfermagem"><i class="fa-solid fa-user fa-sm text-white"></i>Enfermagem</option>
                            <option  value="Laboratório Matriz"><i class="fa-solid fa-user fa-sm text-white"></i>Laboratório Matriz</option>
                            <option  value="Laboratório Centro"><i class="fa-solid fa-user fa-sm text-white"></i>Laboratório Centro</option>
                            <option  value="Laboratório Bancários"><i class="fa-solid fa-user fa-sm text-white"></i>Laboratório Bancários</option>
                            <option  value="Laboratório Campina Grande"><i class="fa-solid fa-user fa-sm text-white"></i>Laboratório Campina Grande</option>
                        </select>
                      </div>
                      <div class="form-group flex-grow">
                        <label for="cargo" class="text-black" style="margin-bottom: 1.2vh; font-weight: 700; font-size: 2vh;" >Cargo:</label>
                        <select required id="cargo" name="cargo" class="bg-white border border-teal-400 text-black text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 focus:outline-none block w-full p-2.5 ">
                          <option value="" disabled selected>Escolha o Cargo</option>
                            <option  value="Biomédico">Biomédico</option>
                            <option  value="Colaborador">Colaborador</option>
                            <option  value="Coordenador">Coordenador</option>
                            <option  value="Diretor">Diretor</option>
                            <option  value="Gerente">Gerente</option>
                            <option  value="Médico">Médico</option>

                        </select>
                      </div>
                    </div>
                    <div>
                      <div class="flex justify-center items-center gap-4">
                        <div class="flex justify-center items-center gap-4 mt-4">
                          <button type="submit" href="{% url 'base' %}" value="Entrar" class="w-24 h-10 cursor-pointer text-white rounded" style="background-color: black; height: 6vh; width: 10vh;">Salvar</button>
                          <a href="{% url 'listagem_usuarios' %}" class="flex justify-center items-center no-underline active:text-white w-24 h-10 border rounded text-teal-600 cursor-pointer border-teal-500 hover:text-white hover:bg-teal-600" style="text-decoration-line: none;">
                            Voltar
                          </a>
                        </div>
                    </div>
              </form>
          </div>
        </div>
      </div>
</body>
</html>
{% endblock content %}