{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex justify-center items-center mt-13 mb-13">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    function confirmarAcao(url) {
        var confirmacao = confirm("Tem certeza que deseja prosseguir?");
        if (confirmacao) {
            window.location.href = url;
        } else {
            console.log("Ação cancelada.");
        }
    }

    $(document).ready(function () {
        var statusFinal = "{{ documento.status_final }}";

        function updateStatusIcon() {
            var iconClass = statusFinal === "Assinado!"
                ? "fa-solid fa-check mb-2 fa-1x text-green-500"
                : "fa-solid fa-clock mb-2 fa-1x text-cyan-600 hover:text-teal-500";
            $("#status-icon").attr("class", iconClass);
        }

        updateStatusIcon();

        setInterval(function () {
            var newStatusFinal = "{{ documento.status_final }}";
            if (newStatusFinal !== statusFinal) {
                statusFinal = newStatusFinal;
                updateStatusIcon();
            }
        }, 10000); // Atualiza a cada 10 segundos
    });
  </script>
  
  <div class="p-4 rounded shadow-sm">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3vh;
        margin-top: 6vh;
      "
    >
    <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-64">
      <ul class="py-2  text-gray-700 " aria-labelledby="avatarButton">

      </div>
      <img style="height: 8vh; width: 8vh; margin-right: 2vh;" id="avatarButton" type="button" data-dropdown-toggle="Dropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 cursor-pointer" src="{% static 'images/logo.png' %}" alt="User dropdown">
      <div id="Dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-64 absolute right-0 mt-2">
        <div class="px-4 py-3 text-gray-900 text-center">
          <ul class="py-2 text-gray-700" aria-labelledby="avatarButton">
            <li>
              <a href="{% url 'meus_chamados' 'todos' %}" class="block px-4 py-2 hover:bg-gray-100">Todos os chamados</a>
            </li>
            <li>
              <a href="{% url 'meus_chamados' 'atribuidos' %}" class="block px-4 py-2 hover:bg-gray-100">Chamados atribuidos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col">
        <h1
          class="text-black"
          style="font-weight: 800; font-size: 4vh; margin: 0"
        >
          SOS Chamados
        </h1>
      </div>
    </div><br>

      <div class="flex flex-col gap-8 w-full">
        {% if chamados %}
        <div class="overflow-x-auto shadow-md sm:rounded-lg">
          <table class="text-center w-full">
            <thead class="text-xs text-white uppercase bg-black">
              <tr>
                <th scope="col" class="p-4">ID</th>
                <th scope="col" class="p-4">Setor Destino</th>
                <th scope="col" class="px-6 py-3">Assunto</th>
                <th scope="col" class="px-6 py-3">Situação</th>
                <th scope="col" class="px-6 py-3">Nivel</th>
                <th scope="col" class="px-6 py-3">Data de Criação</th>
                <th scope="col" class="px-6 py-3">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for chamado in page_obj %}
              <tr class="bg-white border-b text-black text-sm font-medium">
                <td class="p-4">{{ chamado.id }}</td>
                <td class="p-2 font-bold">{{ chamado.para_o_setor }}</td>
                <td class="p-2">{{ chamado.assunto }}</td>
                <td class="p-2 font-bold {% if chamado.situacao == 'Chamado Concluido' %}text-green-700{% elif chamado.situacao == 'Chamado Pendente' %}text-yellow-700{% else %}text-black{% endif %}">
                  {{ chamado.situacao }}
                </td>
                <td class="p-2 font-bold {% if chamado.nivel == 'Pouco Urgente' %}text-green-700{% elif chamado.nivel == 'Urgente' %}text-yellow-700{% else %}text-red-700{% endif %}">
                  {{ chamado.nivel }}
                </td>
                <td class="p-2">{{ chamado.data_criacao }}</td>
                <td class="p-2">
                  <div class="flex justify-center items-center gap-4 text-xs">
                    <a href="{% url 'ver_chamado' chamado.id %}" class="font-medium rounded" title="Ver Chamado">
                      <i class="fas fa-eye fa-xl text-black hover:text-red-500"></i>
                    </a>
                    {% if chamado.situacao == 'Chamado Aberto' %}
                    <a href="{% url 'excluir_chamado' chamado.id %}" class="font-medium rounded" title="Excluir Chamado" onclick="return confirmarAcao('{% url 'excluir_chamado' chamado.id %}');">
                      <i class="fas fa-trash fa-xl text-black hover:text-red-500"></i>
                    </a>
                    {% elif chamado.situacao == 'Chamado Concluido' %}
                    <a href="{% url 'reabrir_chamado' chamado.id %}" class="font-medium rounded" title="Reabrir Chamado" onclick="return confirmarAcao('{% url 'reabrir_chamado' chamado.id %}');">
                      <i class="fas fa-arrow-alt-circle-up fa-xl text-black hover:text-red-500"></i>
                    </a>
                    <a href="{% url 'finalizar_chamado' chamado.id %}" class="font-medium rounded" title="Finalizar Chamado">
                      <i class="fas fa-flag-checkered fa-xl text-black hover:text-red-500"></i>
                    </a>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="flex items-center justify-center mt-4">
          <a href="/SOS/abrir/chamado/" class="px-2 py-1 bg-black text-white font-semibold text-2xl rounded shadow">
            Abrir Chamado
          </a>
        </div><br>
        <div class="flex justify-center items-center mt-4">
          <nav aria-label="Page navigation">
            <ul class="inline-flex -space-x-px text-sm">
              {% if page_obj.has_previous %}
              <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center px-3 h-8 text-black bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Anterior</a>
              </li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              <li>
                <a href="?page={{ num }}" class="flex items-center justify-center px-3 h-8 text-black bg-white border border-gray-300 {% if page_obj.number == num %}text-teal-500 hover:bg-cyan-600 font-bold hover:text-teal-500{% else %}hover:bg-teal-600 hover:text-white{% endif %}">{{ num }}</a>
              </li>
              {% endfor %}
              {% if page_obj.has_next %}
              <li>
                <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center px-3 h-8 text-black bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700">Próxima</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
        {% else %}
        <div class="w-full p-4 flex items-center justify-center text-teal-700 gap-4">
          <i class="fa-solid fa-x fa-xl text-black hover:text-red-500"></i>
          <h1 class="text-black text-3xl">Não existem chamados!</h1>
          <i class="fa-solid fa-x fa-xl text-black hover:text-red-500"></i>
        </div>
        <div class="flex items-center justify-center mt-4">
          <a href="/SOS/abrir/chamado/" class="px-2 py-1 bg-black text-white font-semibold text-2xl rounded shadow">
            Abrir Chamado
          </a>
        </div><br>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
