{% extends "base.html" %} {% load static %} {% block content %}
<div class="flex justify-center item-center mt-13 mb-13">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <div class="p-4 rounded shadow-sm">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3vh;
        margin-top: 6vh;
      "
    >
    <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-64">
      <ul class="py-2  text-gray-700 " aria-labelledby="avatarButton">

      </div>
      <img style="height: 8vh; width: 8vh; margin-right: 2vh;" id="avatarButton" type="button" data-dropdown-toggle="Dropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 cursor-pointer" src="{% static 'images/logo.png' %}" alt="User dropdown">
      <div id="Dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-64 absolute right-0 mt-2">
        <div class="px-4 py-3 text-gray-900 text-center">
          <ul class="py-2 text-gray-700" aria-labelledby="avatarButton">
            <li>
              <a href="{% url 'listar_chamados' 'todos' %}" class="block px-4 py-2 hover:bg-gray-100">Todos os chamados</a>
            </li>
            <li>
              <a href="{% url 'listar_chamados' 'abertos' %}" class="block px-4 py-2 hover:bg-gray-100">Chamados abertos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col">
        <h1
          class="text-black"
          style="font-weight: 800; font-size: 4vh; margin: 0"
        >
          SOS Chamados
        </h1>
      </div>
    </div>
    <div class="flex items-center gap-4 mt-4">
      <div class="p-4">
        <script>
          $(document).ready(function () {
            var statusFinal = "{{ documento.status_final }}";

            // Função para verificar e atualizar o ícone com base no status_final
            function updateStatusIcon() {
              if (statusFinal === "Assinado!") {
                $("#status-icon")
                  .removeClass()
                  .addClass("fa-solid fa-check mb-2 fa-1x text-green-500");
              } else {
                // Adicione outras condições conforme necessário
                $("#status-icon")
                  .removeClass()
                  .addClass(
                    "fa-solid fa-clock mb-2 fa-1x text-cyan-600 hover:text-teal-500"
                  );
              }
            }

            // Atualizar o ícone quando a página for carregada
            updateStatusIcon();

            // Verificar e atualizar o ícone sempre que status_final mudar
            setInterval(function () {
              var newStatusFinal = "{{ documento.status_final }}";
              if (newStatusFinal !== statusFinal) {
                statusFinal = newStatusFinal;
                updateStatusIcon();
              }
            }, 1000); // Atualiza a cada 1000 milissegundos (1 segundo), ajuste conforme necessário
          });
        </script>
      </div>

      <div class="flex flex-col gap-8">
        <div
          class="flex items-center overflow-x-auto shadow-md sm:rounded-lg mb-4"
          style="w-full;">
          {% if chamados %}
          <div class="flex items-center shadow-md sm:rounded-lg">
            <table class="text-center w-full">
              <thead class="text-xs text-white uppercase bg-black">
                <tr>
                  <th scope="col" class="p-4">ID</th>
                  <th scope="col" class="p-4">Aberto Por</th>
                  <th scope="col" class="p-4">Setor Origem</th>
                  <th scope="col" class="p-4">Setor Destino</th>
                  <th scope="col" class="px-6 py-3">Assunto</th>
                  <th scope="col" class="px-6 py-3">Situação</th>
                  <th scope="col" class="px-6 py-3">Nivel</th>
                  <th scope="col" class="px-6 py-3">Data de Criação</th>
                  <th scope="col" class="px-6 py-3">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for chamados in page_obj %}
                <tr
                  class="bg-white border-b text-black"
                  style="font-size: 1.3vh; font-weight: 500"
                >
                {% if chamados.situacao == 'Chamado Finalizado' %}
                  <td class="p-2 font-bold bg-blue-700 text-white text-xs">{{ chamados.id }}</td>
                {% elif chamados.situacao == 'Chamado Concluido' %}
                  <td class="p-2 font-bold bg-green-700 text-white text-xs">{{ chamados.id }}</td>
                {% elif chamados.situacao == 'Chamado Pendente' %}
                  <td class="p-2 font-bold bg-yellow-700 text-white text-xs">{{ chamados.id }}</td>
                {% elif chamados.situacao == 'Chamado Aberto' %}
                  <td class="p-2 font-bold bg-red-700 text-white text-xs">{{ chamados.id }}</td>
                {% elif chamados.situacao == 'Chamado Atribuido' %}
                  <td class="p-2 font-bold text-white text-xs" style="background-color: #9c27b0;">{{ chamados.id }}</td>
                {% else %}
                <td class="p-2 font-bold border border-black text-xs">{{ chamados.id }}</td>
                {% endif %}
                  <td class="p-4 font-bold text-black text-xs">
                    {{chamados.criado_por}}
                  </td>
                  <td class="p-2 text-xs">{{chamados.setor}}</td>
                  <td class="p-2 font-bold text-xs">
                    {{chamados.para_o_setor}}
                  </td>
                  <td class="p-2 text-xs">{{ chamados.assunto }}</td>
                  {% if chamados.situacao == 'Chamado Concluido' %}
                  <td class="p-2 font-bold text-green-700 text-xs" >
                    {{ chamados.situacao }}
                  </td>
                  {% elif chamados.situacao == 'Chamado Pendente' %}
                  <td class="p-2 font-bold text-yellow-700 text-xs">
                    {{ chamados.situacao }}
                  </td>
                  {% elif chamados.situacao == 'Chamado Finalizado' %}
                  <td class="p-2 font-bold text-blue-700 text-xs">
                    {{ chamados.situacao }}
                  </td>
                  {% elif chamados.situacao == 'Chamado Aberto' %}
                  <td class="p-2 font-bold text-red-700 text-xs">
                    {{ chamados.situacao }}
                  </td>
                  {% elif chamados.situacao == 'Chamado Atribuido' %}
                  <td class="p-2 font-bold text-xs" style="color: #9c27b0;">
                    {{ chamados.situacao }}
                  </td>
                  {% else %}
                  <td class="p-2 text-xs">
                    <p class="text-black">{{ chamados.situacao }}
                  </td>
                  {% endif %}
                  {% if chamados.nivel == 'Pouco Urgente' %}
                  <td class="p-2 font-bold text-green-700 text-xs">
                    {{ chamados.nivel }}
                  </td>
                  {% elif chamados.nivel == 'Urgente' %}
                  <td class="p-2 font-bold text-yellow-700 text-xs">
                    {{ chamados.nivel }}
                  </td>
                  {% else %}
                  <td class="p-2 font-bold text-red-700 text-xs">
                    {{ chamados.nivel }}
                  </td>
                  {% endif %}
                  <td class="p-2 font-bold text-xs">
                    {{chamados.data_criacao}}
                  </td>
                  <td>
                    <div
                      class="flex justify-center items-center gap-4 text-xs px-6 py-4"
                    >
                      <a
                        href="{% url 'ver_chamado' chamados.id %}"
                        class="font-medium rounded"
                        title="Ver Chamado"
                      >
                        <i
                          class="fas fa-eye open-icon fa-xl text-black hover:text-red-500"
                        ></i>
                      </a>
                      
                    {% if chamados.situacao == 'Chamado Aberto' %}
                      <a
                      href="{% url 'atribuir_chamado' chamados.id %}"
                      class="font-medium rounded"
                      title="Atribuir Chamado"
                    >
                      <i
                        class="fas fa-user-plus fa-xl text-black hover:text-red-500"
                      ></i>
                    </a>
                    {% elif chamados.situacao != 'Chamado Concluido' and chamados.situacao != 'Chamado Finalizado' %}
                    <a
                    href="{% url 'desatribuir_chamado' chamados.id %}"
                    class="font-medium rounded"
                    title="Desatribuir Chamado"
                  >
                    <i
                      class="fas fa-user-times  fa-xl text-black hover:text-red-500"
                    ></i>
                  </a>
                  
                  {%if chamados.situacao != 'Chamado Pendente'%}
                  <a
                  href="{% url 'chamado_pendente' chamados.id %}"
                  class="font-medium rounded"
                  title="Marcar chamado como pendente"
                >
                  <i
                    class="fas fa-hourglass-half fa-xl text-black hover:text-red-500"
                  ></i>
                </a>
                {% endif%}
                {%if chamados.situacao != 'Chamado Concluido'%}
                <a
                href="{% url 'chamado_concluido' chamados.id %}"
                class="font-medium rounded"
                title="Marcar chamado como concluido"
              >
                <i
                  class="fas fa-check-circle fa-xl text-black hover:text-red-500"
                ></i>
              </a>
              {% endif%}
                  {% endif %}
                      {% endfor %}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br />
        <div class="flex justify-center items-center">
          <nav aria-label="Page navigation example">
            <ul class="inline-flex -space-x-px text-sm">
              {% if page_obj.has_previous %}
              <li>
                <a
                  href="?page={{ page_obj.previous_page_number }}"
                  class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-black bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700"
                  >Anterior</a
                >
              </li>
              {% endif %} {% for num in page_obj.paginator.page_range %}
              <li>
                <a
                  href="?page={{ num }}"
                  class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 {% if page_obj.number == num %}text-teal-500 hover:bg-cyan-600 font-bold hover:text-teal-500{% else %}hover:bg-teal-600 hover:text-white{% endif %}"
                >
                  {{ num }}
                </a>
              </li>
              {% endfor %} {% if page_obj.has_next %}
              <li>
                <a
                  href="?page={{ page_obj.next_page_number }}"
                  class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700"
                  >Próxima</a
                >
              </li>
              {% endif %}
            </ul>
            {%else%}
            <div
              class="w-full p-4 flex items-center justify-center text-teal-700 gap-4"
            >
              <i class="fa-solid fa-x fa-xl text-black hover:text-red-500"></i>
              <h1 class="text-black" style="font-size: 3vh; font-family: Arial">
                Não existem chamados para atender!
              </h1>
              <i class="fa-solid fa-x fa-xl text-black hover:text-red-500"></i>
              {% endif %}
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
